# Python virtual environments
venv/
venv310/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Python build files
build/
dist/
*.egg-info/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Model/cache files
*.cache